*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family : 'Avenir';
}

$foregroundColor: #043e59;

header{
    width: 100%;
    height: 75px;
    background-color: $foregroundColor;
    color: white;
    position: relative;
    .nav-container{
        width: 50%;
        margin: auto;
        display: flex;
        ul{
            flex: 5;
            display: inline;
            list-style: none;
            width: 45%;
            height: 75px;
            font-size: 120%;
            margin-top: 10px;
            li{
                float: left;
                margin: 24px;
            }
            li:hover{
                cursor: pointer;
            }
        }
        .logo{
            
            img{
                box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.6);
            }
            img:hover{
                cursor: pointer;
            }
        }
        .search-box{
            position: absolute;
            height: 30px;
            align-items: center;
            top: 25px;
            right: 20px;
            input{
                background-color: $foregroundColor;
                color: white;
                height: 30px;
                border-top: none;
                border-right: none;
                border-left: none;
                float: left;
                padding: 5px;
                font-size: 16px;
                margin-right: 40px;
                border-bottom: 1px solid white;
            }
        }
        .search:hover{
            cursor: pointer;
        }
    }
    
}

.container{
    height: 90vh;
    position: relative;
    .left{
        height: 1225px;
        position: relative;
        left: 0;
        float: left;
        transition:  0.4s;
        box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.6);
        width: 175px;
        color: $foregroundColor;
        font-size: 120%;
        padding: 100px 0 0 20px;
        ul{
            list-style: none;
            padding: 0;
            li{
                margin-top: 6px;
                cursor: pointer;
            }
        }
        img{
            cursor: pointer;
        }
        .action{
            position: absolute;
            top: 31%;
            right: 10px;
            cursor: pointer;
        }
        
    }
    .center{
        width: 50%;
        margin: auto;
        .title{
            padding-top: 50px;
            text-align: center;
            font-size: 35px;
            color: $foregroundColor;
            div{
                width: 30%;
                margin: auto;
            }
            span{
                padding-top: 30px;
                float: right;
            }
            hr{
                margin-bottom: 50px;
            }
        }
        .content{
            column-count: 2;
            column-width: 50%;
            height: 1000px;
            font-size: 115%;
            text-align: justify;
            color: $foregroundColor;
        }
    }
}

hr{
    border-style: dotted;
    border-color: #043e59;
    margin: 0;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 75px;
    background-color: $foregroundColor;
}
.showMenu{
    left: 0 !important;
    box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.6);
}
.hideMenu{
    left: -145px !important;
    box-shadow: none !important;
}
.hideSearch{
    display: none !important;
}
.showSearch{
    display: inline;
}