* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Avenir';
}

header {
  width: 100%;
  height: 75px;
  background-color: #043e59;
  color: white;
  position: relative;
}

header .nav-container {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-container ul {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: inline;
  list-style: none;
  width: 45%;
  height: 75px;
  font-size: 120%;
  margin-top: 10px;
}

header .nav-container ul li {
  float: left;
  margin: 24px;
}

header .nav-container ul li:hover {
  cursor: pointer;
}

header .nav-container .logo img {
  -webkit-box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.6);
          box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.6);
}

header .nav-container .logo img:hover {
  cursor: pointer;
}

header .nav-container .search-box {
  position: absolute;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 25px;
  right: 20px;
}

header .nav-container .search-box input {
  background-color: #043e59;
  color: white;
  height: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  float: left;
  padding: 5px;
  font-size: 16px;
  margin-right: 40px;
  border-bottom: 1px solid white;
}

header .nav-container .search:hover {
  cursor: pointer;
}

.container {
  height: 90vh;
  position: relative;
}

.container .left {
  height: 1225px;
  position: relative;
  left: 0;
  float: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.6);
          box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.6);
  width: 175px;
  color: #043e59;
  font-size: 120%;
  padding: 100px 0 0 20px;
}

.container .left ul {
  list-style: none;
  padding: 0;
}

.container .left ul li {
  margin-top: 6px;
  cursor: pointer;
}

.container .left img {
  cursor: pointer;
}

.container .left .action {
  position: absolute;
  top: 31%;
  right: 10px;
  cursor: pointer;
}

.container .center {
  width: 50%;
  margin: auto;
}

.container .center .title {
  padding-top: 50px;
  text-align: center;
  font-size: 35px;
  color: #043e59;
}

.container .center .title div {
  width: 30%;
  margin: auto;
}

.container .center .title span {
  padding-top: 30px;
  float: right;
}

.container .center .title hr {
  margin-bottom: 50px;
}

.container .center .content {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-width: 50%;
          column-width: 50%;
  height: 1000px;
  font-size: 115%;
  text-align: justify;
  color: #043e59;
}

hr {
  border-style: dotted;
  border-color: #043e59;
  margin: 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 75px;
  background-color: #043e59;
}

.showMenu {
  left: 0 !important;
  -webkit-box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.6);
          box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.6);
}

.hideMenu {
  left: -145px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.hideSearch {
  display: none !important;
}

.showSearch {
  display: inline;
}
/*# sourceMappingURL=style.css.map */